a:link { text-decoration: none; }
a:visited { color: white; }
@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:400,400i,600,600i');

body{
  margin: 0px;
  background-color: black;
}

.module {
  background: 
    linear-gradient(
      rgba(0, 0, 0, 0.3),
      rgba(0, 0, 0, 0.3)
    ),
    url('ExtrovertHeader2.jpg');
    /*url('Dive2.jpg');*/
  background-size: cover;
  width: 100%;
  height: 100vh;
  position: relative;
}
.mid h2 {
  font-family: 'Staatliches';
  font-weight: 900;
  color: white;
  text-transform: uppercase;
  text-shadow: 1em;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 40%;
  font-size: 5rem;
  transform: translate(-50%, -50%);
}
