
body {
    background-color: black
}
#logo-in-black {
    position: absolute;
    float: right;
    right: 15px;
    bottom: 15px;
    width: 110px;
    height: 110px;

}
#front-page-profile {
    float: left;
    margin-top: 5%;
    margin-left: 15px;
    width:20%;
    height:45%;
    opacity:.6;
    border-radius: 40px;
    
}
.FrontPageName {
    float: right;
    width: 50%;
    height: 69%;
}
img {
    width: 100%;
    height: 100%;
  }

#nelly-richae-vid{
    position: relative;
    top: -100px;
    left: -20px;
    width: 50%;
    height: 90%;
    opacity: .5;
    /* Add the blur effect */
}