
body {
    background-color: black
}
#logo-in-black {
    position: absolute;
    float: right;
    right: 15px;
    bottom: 15px;
    width: 110px;
    height: 110px;

}
#front-page-profile {
    float: left;
    margin-top: 5%;
    margin-left: 15px;
    width:20%;
    height:45%;
    opacity:.6;
    border-radius: 40px;
    
}
.FrontPageName {
    float: right;
    width: 40%;
    height: 60%;
    margin-right: 60px;
}
img {
    width: 100%;
    height: 100%;
  }

#nelly-richae-vid{
    position: relative;
    top: -100px;
    left: -20px;
    width: 45%;
    height: 75%;
    opacity: .5;
    /* Add the blur effect */
}
.athlete-container{
    display: flex;
}
.header1-container{
    display:inline-block;
    align-items: center;
    flex: 2;
}
.header2-container{
    display:inline-block;
    align-items: center;
    flex: 3;
}
.athlete-vid-container {
    display:inline-block;
    align-items: center;
    flex: 3;
}
.athlete-page-img {
    background-image: url("./Background3.jpg");
    height: 70%;
    width: 100%;
    opacity: 1;
}
#athlete-page-title {
    flex: 1;
    text-align: center;
    opacity: 0;
}

#athlete-vid{
    width: 95%;
    height: 81%;
    opacity: .8;
}
#athlete-page-header1{
    color: white;
    margin-left: 50px;
    font-size: 15px;
    font-family: 'Courier New', Courier, monospace;
}
#athlete-page-header2{
    color: white;
    margin-left: 50px;
    font-size: 15px;
    font-family: 'Courier New', Courier, monospace;
}
#athlete-page-p1 {
    color: white;
    margin-right: 10px;
    margin-left: 10px;
}
#athlete-page-p2 {
    color: white;
    margin-right: 10px;
    margin-left: 10px;
}
#athlete-page-upside-down {
    position: relative;
    transition: 1s;
    top: -65%;
    left: 30%;
    margin-left: 60px;
    margin-right: 7px;
    width: 55%;
    height: 40%;
}
#athlete-page-kayak {
    position: relative;
    left: 15%;
    transition: 1s;
    margin-right: 7px;
    width: 90%;
    height: 30%;
    opacity: .2;
}
#athlete-page-dive {
    position: relative;
    left: 12%;
    transition: 1s;
    margin-left: 10px;
    margin-right: 7px;
    width: 90%;
    height: 20%;
    opacity: .2;
}
#athlete-page-running {
    position: relative;
    left: 12%;
    transition: 1s;
    margin-left: 10px;
    margin-right: 7px;
    width: 90%;
    height: 30%;
    opacity: .2;
}

#athlete-page-quote1 {
    position: relative;
    width: 95%;
    height: 5%;
    border-width: 0px;
    border-radius: 10px;
    transition: 1s;
    background-color: black;
}


#rotate-background-box-text {
    position: relative;
    text-align: center;
}
.ml3 {
    text-align: center;
    color: white;
    letter-spacing: 12px;
    font-weight: 900;
    font-size: 3.5em;
}
 

#background-box-text {
   font-family: Chalkduster, fantasy;
   font-variant: small-caps;
   font-size: 10px;
   color: black;
}
#background-box {
    position: relative;
    width: 20%;
    left: -10%;
    height: 20%;
    border-width: 0px;
    border-radius: 10px;
    transition: 1s;
    background-color: #E30B5C;
}

#current-box {
    transition: 1s;
    position: relative;
    width: 20%;
    left: -10%;
    height: 40%;
    margin-top: 10px;
    border-width: 0px;
    border-radius: 10px;
    background-color: #75E6DA;
}

#rotate-current-box-text {
    position: relative;
    top: 40%;
    text-align: center;
    transform: rotate(90deg);

}
#current-box-text {
   font-family: Chalkduster, fantasy;
   font-variant: small-caps;
   color: white;
   text-shadow: 2.5px 2.5px black;
   font-weight: 800;
}

#plans-box {
    transition: 1s;
    position: relative;
    left: -10%;
    margin-top: 10px;
    width: 20%;
    height: 18%;
    border-width: 0px;
    border-radius: 10px;
    background-color: #F1EB9C;
}
#athlete-page-live-active {
    position: relative;
    top: -40%;
    width: 95%;
    height: 50%;
}

.athlete-page-header {
    position: relative;
    top: 20%;
    left: -10%;
    width: 130%;
    height: 140px;
    margin-bottom: 10px;
}
